In [23]:
!pip install tensorflow
!pip install keras
!pip install torch
!pip install torchvision

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting split-folders
  Downloading split_folders-0.5.1-py3-none-any.whl (8.4 kB)
Installing collected packages: split-folders
Successfully installed split-folders-0.5.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.9/dist-packages (2.12.0)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.53.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.4.8)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.12.2)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.2.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow) (6.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras in /usr/local/lib/python3.9/dist-packages (2.12.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.9/dist-packages (2.0.0+cu118)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch) (4.5.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from torch) (3.1.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.9/dist-packages (from torch) (1.11.1)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.9/dist-packages (from torch) (2.0.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from torch) (3.11.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.9/dist-packages (from torch) (3.1)
Requirement already satisfied: cmake in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch) (16.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.9/dist-packages (from sympy->torch) (1.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torchvision in /usr/local/lib/python3.9/dist-packages (0.15.1+cu118)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.9/dist-packages (from torchvision) (8.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from torchvision) (2.27.1)
Requirement already satisfied: torch==2.0.0 in /usr/local/lib/python3.9/dist-packages (from torchvision) (2.0.0+cu118)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from torchvision) (1.22.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (3.1.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (3.11.0)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (2.0.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (3.1)
Requirement already satisfied: lit in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch==2.0.0->torchvision) (16.0.1)
Requirement already satisfied: cmake in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch==2.0.0->torchvision) (3.25.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->torch==2.0.0->torchvision) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.9/dist-packages (from sympy->torch==2.0.0->torchvision) (1.3.0)

In [38]:
!kaggle datasets download -d muratkokludataset/rice-image-dataset

Downloading rice-image-dataset.zip to /content
 95% 209M/219M [00:01<00:00, 117MB/s]
100% 219M/219M [00:01<00:00, 122MB/s]

In [ ]:
!unzip /content/rice-image-dataset.zip -d /content/

In [49]:
import os
import pandas as pd

In [48]:
Id = []
for dirname, _, filenames in os.walk('/content/Rice_Image_Dataset'):
  for filename in filenames:
    Id.append(os.path.join(dirname, filename))
Id[:5]

['/content/Rice_Image_Dataset/Arborio/Arborio (12398).jpg',
 '/content/Rice_Image_Dataset/Arborio/Arborio (5166).jpg',
 '/content/Rice_Image_Dataset/Arborio/Arborio (14199).jpg',
 '/content/Rice_Image_Dataset/Arborio/Arborio (779).jpg',
 '/content/Rice_Image_Dataset/Arborio/Arborio (6469).jpg']

In [53]:
train = pd.DataFrame()
train = train.assign(filename=Id)
train

                                                filename
0      /content/Rice_Image_Dataset/Arborio/Arborio (1...
1      /content/Rice_Image_Dataset/Arborio/Arborio (5...
2      /content/Rice_Image_Dataset/Arborio/Arborio (1...
3      /content/Rice_Image_Dataset/Arborio/Arborio (7...
4      /content/Rice_Image_Dataset/Arborio/Arborio (6...
...                                                  ...
74995  /content/Rice_Image_Dataset/Ipsala/Ipsala (115...
74996  /content/Rice_Image_Dataset/Ipsala/Ipsala (737...
74997  /content/Rice_Image_Dataset/Ipsala/Ipsala (456...
74998  /content/Rice_Image_Dataset/Ipsala/Ipsala (108...
74999  /content/Rice_Image_Dataset/Ipsala/Ipsala (144...

[75000 rows x 1 columns]

In [54]:
train['label'] = train['filename']
train['label'] = train['label'].str.replace('/content/Rice_Image_Dataset/', '')
train

,filename,label
0,/content/Rice_Image_Dataset/Arborio/Arborio (1...,Arborio/Arborio (12398).jpg
1,/content/Rice_Image_Dataset/Arborio/Arborio (5...,Arborio/Arborio (5166).jpg
2,/content/Rice_Image_Dataset/Arborio/Arborio (1...,Arborio/Arborio (14199).jpg
3,/content/Rice_Image_Dataset/Arborio/Arborio (7...,Arborio/Arborio (779).jpg
4,/content/Rice_Image_Dataset/Arborio/Arborio (6...,Arborio/Arborio (6469).jpg
...,...,...
74995,/content/Rice_Image_Dataset/Ipsala/Ipsala (115...,Ipsala/Ipsala (11567).jpg
74996,/content/Rice_Image_Dataset/Ipsala/Ipsala (737...,Ipsala/Ipsala (7372).jpg
74997,/content/Rice_Image_Dataset/Ipsala/Ipsala (456...,Ipsala/Ipsala (4563).jpg
74998,/content/Rice_Image_Dataset/Ipsala/Ipsala (108...,Ipsala/Ipsala (10886).jpg
74999,/content/Rice_Image_Dataset/Ipsala/Ipsala (144...,Ipsala/Ipsala (14439).jpg

In [55]:
train['label'] = train['label'].str.split('/').str[0]
train

                                                filename    label
0      /content/Rice_Image_Dataset/Arborio/Arborio (1...  Arborio
1      /content/Rice_Image_Dataset/Arborio/Arborio (5...  Arborio
2      /content/Rice_Image_Dataset/Arborio/Arborio (1...  Arborio
3      /content/Rice_Image_Dataset/Arborio/Arborio (7...  Arborio
4      /content/Rice_Image_Dataset/Arborio/Arborio (6...  Arborio
...                                                  ...      ...
74995  /content/Rice_Image_Dataset/Ipsala/Ipsala (115...   Ipsala
74996  /content/Rice_Image_Dataset/Ipsala/Ipsala (737...   Ipsala
74997  /content/Rice_Image_Dataset/Ipsala/Ipsala (456...   Ipsala
74998  /content/Rice_Image_Dataset/Ipsala/Ipsala (108...   Ipsala
74999  /content/Rice_Image_Dataset/Ipsala/Ipsala (144...   Ipsala

[75000 rows x 2 columns]

In [56]:
train = train.sample(n=len(train))
train.reset_index(inplace=True, drop=True)
train

                                                filename      label
0      /content/Rice_Image_Dataset/Arborio/Arborio (4...    Arborio
1      /content/Rice_Image_Dataset/Ipsala/Ipsala (494...     Ipsala
2      /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
3      /content/Rice_Image_Dataset/Arborio/Arborio (2...    Arborio
4      /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
...                                                  ...        ...
74995  /content/Rice_Image_Dataset/Basmati/basmati (1...    Basmati
74996  /content/Rice_Image_Dataset/Jasmine/Jasmine (1...    Jasmine
74997  /content/Rice_Image_Dataset/Basmati/basmati (1...    Basmati
74998  /content/Rice_Image_Dataset/Jasmine/Jasmine (9...    Jasmine
74999  /content/Rice_Image_Dataset/Basmati/basmati (2...    Basmati

[75000 rows x 2 columns]

In [63]:
test = train[int(len(train)*.8):]
test

                                                filename      label
38400  /content/Rice_Image_Dataset/Arborio/Arborio (5...    Arborio
38401  /content/Rice_Image_Dataset/Arborio/Arborio (3...    Arborio
38402  /content/Rice_Image_Dataset/Basmati/basmati (1...    Basmati
38403  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
38404  /content/Rice_Image_Dataset/Arborio/Arborio (1...    Arborio
...                                                  ...        ...
47995  /content/Rice_Image_Dataset/Ipsala/Ipsala (497...     Ipsala
47996  /content/Rice_Image_Dataset/Basmati/basmati (4...    Basmati
47997  /content/Rice_Image_Dataset/Arborio/Arborio (5...    Arborio
47998  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
47999  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag

[9600 rows x 2 columns]

In [64]:
test = test.sample(n=len(test))
test.reset_index(inplace=True, drop=True)
test

                                               filename      label
0     /content/Rice_Image_Dataset/Ipsala/Ipsala (126...     Ipsala
1     /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
2     /content/Rice_Image_Dataset/Ipsala/Ipsala (151...     Ipsala
3     /content/Rice_Image_Dataset/Basmati/basmati (1...    Basmati
4     /content/Rice_Image_Dataset/Ipsala/Ipsala (277...     Ipsala
...                                                 ...        ...
9595  /content/Rice_Image_Dataset/Ipsala/Ipsala (144...     Ipsala
9596  /content/Rice_Image_Dataset/Basmati/basmati (1...    Basmati
9597  /content/Rice_Image_Dataset/Ipsala/Ipsala (426...     Ipsala
9598  /content/Rice_Image_Dataset/Basmati/basmati (1...    Basmati
9599  /content/Rice_Image_Dataset/Basmati/basmati (5...    Basmati

[9600 rows x 2 columns]

In [62]:
train = train[:int(len(train)*.8)]
train

                                                filename      label
0      /content/Rice_Image_Dataset/Jasmine/Jasmine (7...    Jasmine
1      /content/Rice_Image_Dataset/Ipsala/Ipsala (128...     Ipsala
2      /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
3      /content/Rice_Image_Dataset/Jasmine/Jasmine (7...    Jasmine
4      /content/Rice_Image_Dataset/Jasmine/Jasmine (6...    Jasmine
...                                                  ...        ...
47995  /content/Rice_Image_Dataset/Ipsala/Ipsala (497...     Ipsala
47996  /content/Rice_Image_Dataset/Basmati/basmati (4...    Basmati
47997  /content/Rice_Image_Dataset/Arborio/Arborio (5...    Arborio
47998  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
47999  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag

[48000 rows x 2 columns]

In [61]:
train = train.sample(n=len(train))
train.reset_index(inplace=True, drop=True)
train

                                                filename      label
0      /content/Rice_Image_Dataset/Jasmine/Jasmine (7...    Jasmine
1      /content/Rice_Image_Dataset/Ipsala/Ipsala (128...     Ipsala
2      /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
3      /content/Rice_Image_Dataset/Jasmine/Jasmine (7...    Jasmine
4      /content/Rice_Image_Dataset/Jasmine/Jasmine (6...    Jasmine
...                                                  ...        ...
59995  /content/Rice_Image_Dataset/Basmati/basmati (2...    Basmati
59996  /content/Rice_Image_Dataset/Jasmine/Jasmine (5...    Jasmine
59997  /content/Rice_Image_Dataset/Arborio/Arborio (2...    Arborio
59998  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag
59999  /content/Rice_Image_Dataset/Karacadag/Karacada...  Karacadag

[60000 rows x 2 columns]

In [65]:
train.shape, test.shape

((48000, 2), (9600, 2))

In [66]:
train.shape[0] + test.shape[0]

57600